@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Noto Sans', 'Noto Sans KR', Roboto, sans-serif;
    max-width: 500px;
    margin: 0 auto;
  }
}

@font-face {
  font-family: 'Noto Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../public/assest/fonts/notosans/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: medium;
  font-weight: 400;
  src: url('../public/assest/fonts/notosans/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: bold;
  font-weight: 700;
  src: url('../public/assest/fonts/notosans/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: medium;
  font-weight: 400;
  src: url('../public/assest/fonts/notosans/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 400;
  src: url('../public/assest/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
